.tasklist{
    font: 16px;
    /* list-style:none; */
    margin: 20px auto;
    box-shadow:  rgba(0,0,0,0.16) 0px 1px 4px ;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 50vh; */
    width: 45vw;
    /* margin-left: auto; */
    /* margin-right: auto;   */
}